@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
$grey:#63836b40;
$green:#253430;
$blue:#339989;
$light-white:aliceblue;
@mixin flex-c{
    display:flex;
    align-items: center;
    justify-content: center;
}
@mixin hr{
    border: 1px solid black;
    width:30%;
    margin:0px auto;
}
*{
    margin:0px;
    padding:0px;
    list-style-type: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
a{
    color:$green;
}
.cleaner{
    clear:both;
}
.centriranje{
    width:80%;
    margin:0px auto;
}
.wrap-flex{
    flex-wrap: wrap;
}
.text-color{
    color:$green;
}
span{
    color:$blue;
}
header{
   z-index:1;
   position: absolute;
   width:100%;

   #logo{
    float:left;
    margin-top: 1%;
   }
 nav{
    float:right;
    margin-top: 2%;

        li{
        display:inline-block;
        padding:0px 10px;
        font-size:25px;
        }
        a{
            display:block;
            color:$green;
            &:hover{
                color: $blue;
            }
        }
   } 
   }
#bg-image{
    background-image:linear-gradient(rgba(0,0,0,0),rgb(29 36 34)), url(../img/cover9.jpg);
    height:calc(100vh);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover; 
    clip-path: polygon(0 0, 100% 0, 100% 70%, 22% 89%, 22% 89%, 0 70%);  
     @include flex-c;
#naslov{
        width:83%;
        font-size: 20px;
        color:$light-white;
            h1{
                padding-bottom:2%;
            }

            p{
                font-size: 25px;
            }
    }
}
.heading{
h2{
    font-size:40px;
    color: $green;
    justify-content: center;
    text-align: center;
}
hr{
   @include hr;
}
}
#about{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top:50px;

    #picture {
        width:24%;
        img{
        width: 100%;
    }
}
    #text{
        width: 45%;
        margin-left: 10%;
    
    p{
       width: 100%; 
       font-size: 18px;
       padding-top: 10px;
       padding-bottom: 10px;
    }
}
}
#service{
    margin-top: 100px;
    
    hr{
        @include hr;
    }
 #container-skills{
    padding:0px 20px 20px 20px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    .box{
        width:23%;
        text-align: center;
        justify-content: center;
        background-color: $grey;
        padding:13px 10px;
    .icon{
        font-size: 50px;
    }
    h3{
        font-size: 20px;
        padding:5px;
    }
    p{
        font-size: 18px;
    }
    }
}
}
#projects{
    margin-top: 100px;
    height:100%;
    hr{
        @include hr;
    }
    #projects-container{
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    .project{
        width:47%;
        position:relative;
        .project-text{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%, -50%);
            opacity:0;
            transform: opacity 0.5s ease-in-out;
            text-align:center;    
        }
        &:hover .project-text{
            opacity:1;
        }
        &:hover img{
            opacity:0.1;
            transition:opacity 0.5s ease-in-out;
        }
        img{
            border: 1px solid black;
            width:100%;
        }
    }
    }
}
#contact{
    margin-top: 100px;
    hr{
        @include hr;
    }
    form{
        margin-top: 100px;
        width: 50vw;
		margin: 8vh auto 0vh auto;
		padding-bottom: 8vh;
        .form-row{
            display: flex;
		    flex-direction: row;
		    align-items: center;
		    justify-content: space-between;
		    margin-top: 20px;
            .form-box2{
                width: 30% !important;
                @extend .form-box;
                margin: 0px auto;
              #submit{
                cursor: pointer;
              }
            }
            .form-box{
            display: flex;
		    flex-direction: column;
		    align-items: flex-start;
		    width: 100%;
		    padding: 0 25px;
		    margin-bottom: 16px;
            input{
            font-size: 1.3rem;
			width: 100%;
			background-color: transparent;
			outline: none;
			border: none;
			border-bottom: 3px solid $blue;
			color: black;
            }
            textarea{
            font-size: 1rem;
			width: 100%;
			background-color: transparent;
			outline: none;
			border: none;
			border-bottom: 3px solid $blue;
			color: black;
            resize: none;
             }
            }
        }
    }
}
footer{
    background-color: $grey;
    #futer-information{
        margin: 0px auto;
        padding:30px;
        text-align: center;
        font-size: 23px;
        p{
            padding:2px;
        }
        a{
            &:hover{
                color:$blue;
            }
        }
    }
}